<div class="row mainBanner">
    <div class="col-md-1 arrowLeft">
        <img src="../Images/arrow-left.png">
    </div>
    <div class="col-md-10">
        <h1 class="">Find a place to stay</h1>
        <span class="col-md-12">Rent from people in over 34,000 cities and 190 countries</span>

        <div class="searchBoxes col-md-12">
            <div class="col-lg-4 col-md-offset-2">
                <input type="text" class="form-control" placeholder="Where do you want to go?">
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control" placeholder="How many guests">
            </div>
            <div class="col-md-1">
                <input class="btn btn-success" type="submit" value="Search">
            </div>
        </div>
    </div>
    <div class="col-md-1 arrowRight">
        <img src="../Images/arrow-right.png">
    </div>
</div>
</div>
<div class="destinations row-fluid">
    <div class="destinText">
        <h2>Top Destinations</h2>
        <span>Popular destinations recommended for you</span>
    </div>
    <div class="destinImages">
        <div class="gridLeft">
            <img src="../Images/destination-new-york.png" class="col-md-6 img-responsive pull-left">
        </div>
        <div class="grid row-fluid">
            <img src="../Images/destination-portland.png" class="col-md-6 img-responsive pull-left">
            <img src="../Images/destination-seattle.png" class="col-md-6 img-responsive pull-left rightImage">
            <img src="../Images/destination-vancouver.png" class="col-md-6 img-responsive pull-left">
            <img src="../Images/destination-toronto.png" class="col-md-6 img-responsive pull-left rightImage">

        </div>
    </div>
</div>
<div class="how row-fluid">
    <div class="howText">
        <h2>How does it work?</h2>
        <span>Rent unique, local accommodations on any budget, anywhere in the world</span>
    </div>
    <div class="icons row-fluid">
        <div class="explore col-md-3 col-md-offset-2">
            <div class="imageIcon col-md-3">
                <img src="../Images/icon-explore.png">
            </div>
            <div class="iconText col-md-6">
                <span>Explore</span>
                <p>Find the perfect place</p>
            </div>
        </div>
        <div class="contact col-md-3">
            <div class="imageIcon col-md-3">
                <img src="../Images/icon-contact.png">
            </div>
            <div class="iconText col-md-6">
                <span>Contact</span>
                <p>Message hosts</p>
            </div>

        </div>
        <div class="book col-md-3">
            <div class="imageIcon col-md-3">
                <img src="../Images/icon-book.png">
            </div>
            <div class="iconText col-md-6">
                <span>Book</span>
                <p>View Your itinerary</p>
            </div>
        </div>
    </div>
</div>
<div class="testimonials row-fluid">
    <h2>We Love Guesthouse</h2>
    <div class="indivTest">
        <div class="col-md-2 col-md-offset-3">
            <img src="../Images/avatar-irina.png">
            <p>"Spacious and art filled is right! An absolutely great place to stay. The hosts were very accommodating,
                provided us with band-aids for our blisters from walking, and aspirn for our head ache from flying."</p>
            <p>Irina</p>
        </div>
        <div class="col-md-2">
            <img src="../Images/avatar-raff.png">
            <p>"What a great place. Absolutely magical. Rick and Nancy are great hosts. Take their tips on what to do
                and see and you'll have an unforgettable time."</p>
            <p>Raff</p>
        </div>
        <div class="col-md-2">
            <img src="../Images/avatar-costin.png">
            <p>"Location, location, location! Hanneke's place could not be any more central. Highly accessible to
                everything you could want to do/see in Amsterdamn."</p>
            <p>Costin</p>
        </div>
    </div>
</div>